{% extends "base.html" %}
{% load get_banner %}
{% block content %}
    {{ block.super }}
    <h3>Login</h3>
    <form class="form-horizontal" method="POST" autocomplete="off"> {% csrf_token %}
        <fieldset class="col-md-offset-3 col-md-6">
            {% if "banner_enable"|get_banner_conf %}
                <div class="well">
                    {{ "banner_message"|get_banner_conf }}
                </div>
            {% endif %}

            {% if SHOW_LOGIN_FORM %}
               {% include "dojo/form_fields.html" with form=form %}
            {% endif %}

            <!-- Button -->
            <div class="form-group">
                {% if SHOW_LOGIN_FORM %}
                    <div class="col-sm-offset-1 col-sm-4" id="toggleBox" onclick="togglePassVisibility()">
                        <i class="fa fa-eye"></i>
                        <span><b>Show Password</b></span>
                    </div>
                {% endif %}
                {% if CLASSIC_AUTH_ENABLED and SHOW_LOGIN_FORM %}
                    <div class="col-sm-offset-1 col-sm-1">
                        <button class="btn btn-success">Login</button>
                    </div>
                {% endif %}
                {% if COGNITO_ENABLED %}
                    <div class="col-sm-offset-1 col-sm-1">
                        <button class="btn btn-success" type="button">
                            <a id="oauth-login-saml" rel="nofollow" data-method="post" href="/saml2/login" style="color: rgb(255,255,255)">Login with SAML</a>
                        </button>
                    </div>
                {% endif %}
            </div>
        </fieldset>
    </form>
{% endblock %}
